<!DOCTYPE html>
<html>
<head>
	<title>Edit User</title>
</head>
<body>
<h1>Edit User {{User.id}} </h1>


<form action="/users/{{User.id}}/update" method="POST">
	{% csrf_token %}
	
	First Name:<input type="text" name="first_name" value= "{{ User.first_name }}" >
	<br>
	Last Name: <input type="text" name="last_name" value= "{{ User.last_name }}">
	<br>
	Email: <input type="text" name="email_address" value= "{{ User.email_address }}">
	<p><input type="submit" value="Update"></p>

</form>


<a href="/users/{{User.id}}"> Show </a>
<br>
<a href="users/{{User.id}}/destroy"> Delete </a>
</body>
</html>