<HTML>
<!DOCTYPE html>

  <head>
    <meta charset="utf-8">
      <h1> My Registration Form </h1>
  </head>

<body>

<p><label for="First_Name">First Name:</label>
<input type="text" id="First_Name" name="First_Name"></p>

<p><label for="Last_Name">Last Name:</label>
<input type="text" id="Last_Name" name="Last_Name"></p>

<p><label for="email">Email:</label>
<input type="text" id="email" name="email"></p>

<p><label for="password">Password</label>
<input type="password" id="password" name="password"></p>

<p><label for="password_confirm">Password Confirm</label>
<input type="password_confirm" id="Password_Confirm" name="password_confirm"></p>

<p><label for="Birthday">Birthday:</label>
<input type="date" id="Birthday" name="Birthday"></p>

<p><label for="male">Male</label>
<input type="radio" id="male" name="gender" value="male">
<label for="female">Female</label>
<input type="radio" id="female" name="gender" value="female">
<label for="other">Other</label>
<input type="radio" id="other" name="gender" value="other"></p>

<p>A short description about yourself:</p>
<p><textarea name="description"></textarea></p>


<p>Favorite Language:</p>
<p><select name="Favorite Language">
  <option value="Javascript">Javascript</option>
</select></p>

<p><input type="submit" value="Submit"></p>


</body>

</html>
